<!DOCTYPE html>
<html>
<head>
  <title>User Information Form</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

  <div class="container">
    <h1>User Information Form</h1>

    {% if error %}
        <div class = "error-message">{{ error }}</div>
    {% endif %}

    
    <form method="POST" action="">
      {% csrf_token %}
      

      <!-- Name -->
      <label for="name">Full Name:</label>
      <input type="text" id="name" name="name" required>

      <!-- Email -->
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      

      <!-- Age -->
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" required>

      <!-- Gender -->
      <label>Gender:</label>
      <div class="radio-group">
        <input type="radio" id="male" name="gender" value="Male">
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="Female">
        <label for="female">Female</label>
      </div>

      <!-- Country -->
      <label for="country">Country:</label>
      <select id="country" name="country">
        <option value="Pakistan">Pakistan</option>
        <option value="India">India</option>
        <option value="USA">USA</option>
        <option value="UK">UK</option>
      </select>

      <!-- Submit -->
      <input type="submit" value="Submit">
    </form>
  </div>
  
    
  

</body>
</html>
